.main-div-of-job-role-digital {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    background: rgba(255, 255, 255, 0.8) url("../../assests/DM/bg-of-three-btn.jpg") no-repeat center center fixed  ;
 }


.main-div-of-text-and-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    display: block;
    max-width: 1140px;
    flex-direction: column;
}

.main-div-of-job-role {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main-div-of-job-role h1 {
    margin: 10px 10px;
    text-align: center;
    font-weight: bold;
    color: white ;
}

.main-div-of-job-role p {
    margin: 10px 10px;
    text-align: justify;
    color: white;
}

.btn-of-job-role-button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 70px;
    margin-top: 50px;
    margin: 20px 20px;
}

.hover-button {
    position: relative;
    padding: 15px 30px;
    font-size: 16px;
    color: black !important;
    background: white;
    /* Default background color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
    transition: color 0.6s, background-color 0.3s;
    height: 80px;
    width: 200px;
    z-index: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* border-radius: 15px; */
    font-weight: bolder;
}

.hover-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: -97%;
    width: 100%;
    height: 100%;
    background-color: #DE3335;
    transition: left 0.3s;
    color: white;
    z-index: -1;
}

.hover-button:hover::before {
    left: 0;

}

.hover-button:hover {
    color: #090909;
    /* Text color on hover */
    z-index: 1;
}

.hover-button {
    position: relative;
    z-index: 1;

}