.tools-container {
    text-align: center;
    padding: 40px 20px;
    background-color: #f8f8f8;
}

.title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}

.highlight {
    color: #de3335; /* Highlight the word "Tools" */
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 150px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
}

.card img {
    max-width: 90%;
    max-height: 90%;
}

.card:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}

/* Responsive Design */
@media (max-width: 768px) {
    .card {
        width: 100px;
        height: 60px;
    }
}
