.profile-container {
    display: flex;
    max-width: 1200px;
    margin: 20px auto;
    background: white;
    padding: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .profile-image-container {
    position: relative;
    width: 25%;
  }
  
  .profile-image {
    width: 100%;
    border-radius: 5px;
  }
  
  .profile-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: red;
    color: white;
    text-align: center;
    padding: 10px 0;
  }
  
  .profile-info h2 {
    font-size: 18px;
    margin: 0;
  }
  
  .profile-info p {
    font-size: 14px;
    margin: 2px 0;
  }
  
  .profile-text {
    width:75%;
    padding: 20px;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
  }
  
  .profile-text h2 {
    margin-top: 10px;
    font-size: 18px;
  }
  
  .highlighted-text {
    color: red;
    font-weight: bold;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .profile-container {
      flex-direction: column;
      text-align: center;
    }
  
    .profile-image-container {
      width: 100%;
    }
  
    .profile-text {
      width: 100%;
    }
  }
  