.image-container {
    overflow: hidden;
    height: 206px;
    width: 202px;
    position: relative;
}

.image-container img {
    display: block;
    transition: transform 0.3s ease;
}

.image-container:hover img {
    transform: scale(1.1);
}

.adc{ 
    padding-left: 20px;
    color:black;
}
.abc{
    color: #de3335;
    font-size: 30px;
}